.button {
  // Базовые стили для button
  padding: 9px 18px;
  height: auto;
  border-radius: 7px;
  font-family: PTSans;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  &__disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Определяем стили для каждого варианта button
  &__primary {
    background-color: #0584FE;
    color: #fff;

    &:hover {
      background-color: darken(#0584FE, 10%);
    }
  }

  &__secondary {
    background-color: #ffa20000;
    border: 1px solid #0584FE;
    color: #000;

    &:hover {
      // color: #0584FE;
      color:  #1253A2;
    }
  }

  &__transparent {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;

    &:hover {
      color: #ffffffd8;
    }
  }

  &__secondary-transparent {
    background-color: rgba(#FFA000, 8%);
    color: #FFA000;

    &:hover {
      background-color: rgba(#FFA000, 20%);
    }
  }

  &__success {
    background-color: #4caf50;
    color: #fff;

    &:hover {
      background-color: darken(#4caf50, 10%);
    }
  }

  &__danger {
    background-color: #f44336;
    color: #fff;

    &:hover {
      background-color: darken(#f44336, 10%);
    }
  }

  &__warning {
    background-color: #ffeb3b;
    color: #000;

    &:hover {
      background-color: darken(#ffeb3b, 10%);
    }
  }
}